/*
1. Selector for e.g. p for paragraph, property and value.
2. Collection of rules is called stylesheet
3. Selectors::
    a. Element Selector (for e.g. p ) - Every paragraph has same color
    b. class selector (.pink dot and name class, in this case modify html document to add this class without a dot)
    c. id Selector
    d. Use element and selector in the same line ( div, .pink)
*/

/*3a*/
p {
    color: pink;
    font-size: 18px;
    width: 100px;
}

/*3b*/
/* Define a class */
.pink {
    color: pink; /* In html file - use this class as <p class="pink"> , use class=classname */
}

/*3c*/
#name {
    color: pink; /* <div id="name">... use id without # */
}